    <!-- NAVIGATION -->
    <div class="logo">
        <a href="/"> <img src="/images/CodeSquad-Comics-logo.png" alt="CodeSquad Comics Logo"></a>
        <div class="menu">
            <i class="fa fa-bars" style="font-size: 1.5rem;"></i>
        </div>
        <div class="topnav">
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/login">LOGIN</a>
            <a href="/register">REGISTER</a>
        </div>
    </div>